main{
	padding: 20px;
	padding-top: 1px;
	padding-left: 30px;
	background-color: #FFFFFF;
	margin-left: 190px;
}

main ul{
	list-style-image: url(images/marker.gif);
}

body{
	font-family: 'Arial', 'Helvetica', sans-serif;
	color: #666666;
	background-color: #4F6D93;
	background-image: linear-gradient(to bottom, #FFFFFF, #4F6D93);
	background-repeat: no-repeat;
	margin-top: 0;
}

header{
	color: #FFFFFF;
	background: #000033;
	background-image: url(images/sunset.jpg);
	background-repeat: no-repeat;
	background-position: right;
	height: 60px;
	padding-top: 15px;
	text-align: center;
	
}

nav{
	font-weight: bold;
	padding: 20px;
	float: left;
	width: 160px;
}

nav ul{
	list-style: none;
	margin: 0;
	padding-left: 0;
	font-size: 1.2em;
}

nav a{
	text-decoration: none;
}

nav a:link{
	color: #000033;
}

nav a:visited{
	color: #344873;
}

nav a:hover{
	color: #FFFFFF;
}

fieldset ul{
	list-style: none;
}

label{
	clear:left;
    float:left;
    margin-right:10px;
    text-align:right;
    width:100px;
}

input{
	margin-bottom: 15px;
}

input[type="submit"]{
	background-color: #3399CC;
	border: none;
}

#gallery{
	position: relative;
	height: 200px;
 }
 
 #gallery a{
	color: #666666;
	font-style: italic;
	text-decoration: none;	
 }
 
 #gallery img{
	border-style: none;
 }
 
 #gallery ul{
	list-style-image: none;
	list-style-type: none;
	width: 300px;
 }
 
 #gallery li{
	display: inline;
	float: left;
	padding: 10px;
 }

 #gallery span{
	left: -1000px;
	opacity: 0;
	position: absolute;
	transition: opacity 1s ease-in-out;
 }
 
 #gallery a:hover span{
	left: 320px;
	opacity: 1;
	text-align: left;
	top: 16px;
 }

 figure{
	left: 280px;
	opacity: 0.25;
	position: absolute;
	text-align: left;
 }
 
h1{
	font-family: 'Georgia', 'Times New Roman', serif;
	margin-top: 0;
}

h2{
	font-family: 'Georgia', 'Times New Roman', serif;
	color: #3399CC;
	text-shadow: 1px 1px 1px #CCCCCC;
}

h3{
	font-family: 'Georgia', 'Times New Roman', serif;
	color: #000033
}

dt{
	color: #000033;
	font-weight: bold;
}

table{
	margin: 0 auto;
	border: 1px solid #90C7E3;
	border-spacing: 0;
	margin: auto;
	width: 600px;
}

td, th{
	border: 1px solid #90C7E3;
	font-family: 'Arial', 'Helvetica', sans-serif;
	text-align: center;
}

tr:nth-of-type(odd){
	background-color: #EAEAEA;
}

tr:first-of-type{
	background-color: #000066;
	color: #FFFFFF;
}

footer{
	font-size: 75%;
	font-style:italic;
	text-align: center;
	font-family: 'Georgia', 'Times New Roman', serif;
	padding: 20px;
	background-color: #FFFFFF;
	clear: both;
}

.resort{
	color: #5C7FA3;
	font-weight: bold;
}

.alignment{
	text-align: left;
}

#contact{
	font-size: 90%;
}

#wrapper{
	margin: auto;
	min-width: 960px;
	max-width: 2048px;
	width: 80%;
	box-shadow: 3px 3px 3px #333333;
	background-color: #90C7E3;
}

#main-image{
	height: 300px;
	background-image: url(images/coast-main.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-left: 190px;
	/*margin-top: 22px;*/
}

#accommodations-image{
	height: 300px;
	background-image: url(images/bungalow-main.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-left: 190px;
	/*margin-top: 22px;*/
}

#activities-image{
	height: 300px;
	background-image: url(images/trail-main.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-left: 190px;
	/*margin-top: 22px;*/
}
#phone-number{
	display: none;
}
/*tablet*/
@media only screen and (max-width: 64em){
	body{
		margin: 0;
		background-color: #FFFFFF;
	}
	
	#wrapper{
		min-width: 0;
		width: auto;
		box-shadow: none;
	}
	
	main{
		margin: 0;
	}
	
	nav{
		float: none;
		width: auto;
		text-align: center;
		padding: 0.5em;
	}
	
	nav li{
		display: inline;
		padding-top: 0.25em;
		padding-bottom: 0.25em;
		padding-left: 0.75em;
		padding-right: 0.75em;
	}
	
	#main-image, #accomodations-image, #activities-image{
		margin-left: 0;
		height: 200px;
	}
	
}

/*mobile phone*/
@media only screen and (max-width: 37.5em){
	header{
		padding-top: 1em;
	}
	
	main{
		padding-top: 0.1em;
		padding-bottom: 0.1em;
		padding-left: 1em;
		padding-right: 1em;
		font-size: 90%;
	}
	
	h1{
		font-size: 1.5em;
	}
	
	nav li{
		display: block;
		margin: 0;
		border-bottom: 2px #330000;
	}
	
	nav a{
		display: block;
	}
	
	#main-image, #accommodations-image, #activities-image{
		display: none;
		background-image: none;
		height: 0;
	}
	
	table{
		display: none;
	}
	fieldset ul{
		display: block;
	}
	
	label{
		float: none;
		display: block;
	}
	#phone-number{
		display: inline;
	}
	
	#desktop-phone{
		display: none;
	}
	
	#gallery{
		display: none;
	}
}